---
- name: restart apache2
  service: name=apache2 state=restarted

- name: update tzdata
  command: /usr/sbin/dpkg-reconfigure --frontend noninteractive tzdata

- name: restart mysql
  service: name=mysql state=restarted
