---
- name: Update system
  apt: upgrade=full update-cache=yes

- name: Update language to {{ phabricator_language }}
  apt: pkg={{ phabricator_language }}

- name: Update locale to {{ phabricator_locale }}
  command: /usr/sbin/update-locale LANG={{ phabricator_locale }} LC_ALL={{ phabricator_locale }}

- name: Update localtime to {{ phabricator_timezone }}
  command: /bin/cp /usr/share/zoneinfo/{{ phabricator_timezone }} /etc/localtime

- name: Update timezone to {{ phabricator_timezone }}
  template: src=timezone/default-timezone.j2 dest=/etc/timezone
  notify:
    - update tzdata

- name: Stopping puppet agent and chef client
  service: name={{ item }} state=stopped enabled=no
  with_items:
    - puppet
    - chef-client

- name: Installing dependencies
  apt: pkg={{ item }}
  with_items:
    - git
    - mysql-server 
    - apache2 
    - dpkg-dev 
    - php5 
    - php5-mysql 
    - php5-gd 
    - php5-dev 
    - php5-curl 
    - php-apc 
    - php5-cli 
    - php5-json
    - sendmail
  sudo: yes

- name: Enable mod_rewrite
  command: a2enmod rewrite
  sudo: yes

- name: Checking out libphutil
  git: repo=https://github.com/phacility/libphutil.git
       dest={{phabricator_install_dir}}/libphutil

- name: Checking out arcanist
  git: repo=https://github.com/phacility/arcanist.git
       dest={{phabricator_install_dir}}/arcanist

- name: Checking out phabricator
  git: repo=https://github.com/phacility/phabricator.git
       dest={{phabricator_checkout_dir}}

- name: Configuring apache2
  template: src=apache2/000-default.j2 owner=root group=root dest=/etc/apache2/sites-available/000-default.conf
  notify:
    - restart apache2

#- name: Enforcing STRICT tables on MySQL
#  copy: src=mysql/

- name: Runnning the storage upgrade script to setup Phabricator's database schema.
  command: ./bin/storage upgrade --force
  args:
    chdir: "{{phabricator_checkout_dir}}"
